h1 {
  text-align: center;
  color: purple;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
  }
  
  td {
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
  }

 .x {
    color: blue;
    font-size: 80px;
  }
  
 .o {
    color: red;
    font-size: 80px;
  }

  .win {
    background-color: yellow;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  #reset {
    margin: 48px 40%;
    padding: 20px;
  }

 #winMsg {
    margin: 5px 5%;
    padding: 10px;
    height: 10px;
 }

 .winMsg {
    color: green;
    font-size: 40px;
    text-align: center;
 }