body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#canvas-container {
  display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh; /* Set the height to fill the viewport */
            background-color: #f0f0f0; /* Optional background color */
  /*position: relative;
  width:auto;
  height:auto;*/
  /*max-width: 100%;
  max-height: 100%;*/
}

canvas {
  /*position: absolute;
  top:0;
  left: 0;*/
  width: auto;
  height: auto;
  border: 1px solid black;
    /*border: 5px solid black;
    max-width: 100%;
    max-height: 100%;*/
  }

  #message {
    display: none;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: #0074D9;
    color: white;
    border: none;
  }

  #startBtn {
    position: absolute;
    top: 50%;
    left: 50%;
   /* transform: translate(500%, 500%);*/
    padding: 10px;
    background-color: #0074D9;
    color: white;
    border: none;
    cursor: pointer;
  }

  .joystick {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-25%, -50%);
    display: none;
    /*display: flex;
    justify-content: end;
    align-items: end;
    height: 10%;
    background-color: #f0f0f0;*/
}

.joystick button {
    font-size: 24px;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background-color: #0074D9;
    color: white;
    cursor: pointer;
}

.up {
  transform: rotate(0deg);
  transform: translate(490%, -150%);
}

.down {
  transform: rotate(0deg);
  transform: translate(340%, 50%);
}

.left {
  transform: rotate(0deg);
  transform: translate(60%, -50%);
}

.right {
  transform: rotate(0deg);
  transform: translate(100%, -50%);
}

.joystick2 {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-25%, -50%);
  display: none;
  /*display: flex;
  justify-content: end;
  align-items: end;
  height: 10%;
  background-color: #f0f0f0;*/
}

.joystick2 button {
  font-size: 24px;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  background-color: #0074D9;
  color: white;
  cursor: pointer;
}

.up2 {
transform: rotate(0deg);
transform: translate(490%, -150%);
}

.down2 {
transform: rotate(0deg);
transform: translate(340%, 50%);
}

.left2 {
transform: rotate(0deg);
transform: translate(60%, -50%);
}

.right2 {
transform: rotate(0deg);
transform: translate(100%, -50%);
}

/*.upRight {
  transform: rotate(0deg);
  transform: translate(100%, -50%);
}*/

.menu {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 75%;
  height: 75%;
  padding: 10px;
}

.menu button {
  font-size: 24px;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  background-color: #0074D9;
  color: white;
  cursor: pointer;
}

.menu button:active {
  background-color: rgb(36, 174, 96);
  transform: translateY(4px);
}

.gameOverBtns {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  padding: 10px;
}

.gameOverBtns button {
  font-size: 24px;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  background-color: #0074D9;
  color: white;
  cursor: pointer;
}

#pause {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 24px;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  background-color: #0074D9;
  color: white;
  cursor: pointer;
}

#startImage {
  visibility: hidden;
  display: none;
}

#tractor {
    visibility: hidden;
    display: none;
}

#target {
  visibility: hidden;
  display: none;
}

#opponent {
  visibility: hidden;
  display: none;
}

#p2 {
  visibility: hidden;
  display: none;
}